{
  "importOrder": [
    "^components/core/(.*)$",
    "^components/features/(.*)$",
    "^components/shared/(.*)$",
    "^[./]"
  ],
  "endOfLine": "lf",
  "importOrderSeparation": true,
  "importOrderCaseInsensitive": true,
  "importOrderGroupNamespaceSpecifiers": true,
  "importOrderSortSpecifiers": true
}
